{% extends 'base.html' %}

{% block body %}

<div class="bg-white mt-12 rounded-lg">

  {# Header #}
  <h2 class="text-2xl py-3 px-8 font-extrabold">{{ section.title }}</h2>
  <div class="py-3 px-8 text-xl mb-4 font-bold">
    {{ section.extra.semester }}
  </div>

  <div class="md:flex block md:justify-start md:px-8 md:space-x-16">
  {% for training in section.extra.training %}
    <div class="flex flex-col items-center space-y-2 mt-4 py-4 px-8 text-center bg-gray-100 space-y-4 rounded-lg">
      <div class="text-xl font-bold mb-2">{{ training.day | upper }}</div>
      <div class="font-bold">{{ training.time }}</div>
      <a href="{{ training.place_link }}" class="text-sm text-gray-700 underline decoration-slate-800">{{ training.place_name }}</a>
      {% if training.note %}
      <div class="text-xs text-gray-700">{{ training.note | safe }}</div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

<div class="markdown py-3 px-8 my-8">
  {{ section.content | safe }}
</div>

{% endblock body %}
